<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/signin.css">
</head>
<body>
    <form class="login">
        <div class="container">
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username or Email" name="username">
        
            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password">
            
            <div class="error">
                <%=err%>
            </div>

            <a href="/auth/github">
                <div class="git-hub"></div>
            </a>

            <button type="submit">Login</button>
            <p>or</p>
            <a class = "register" href="/">Register</a>
            <!-- <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->
        </div>
        <div class="container" style="background-color:#f1f1f1">
            <button type="reset" class="cancelbtn">Cancel</button>
            <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
        </div>
    </form>
    <script src="/js/signin.js"></script>
</body>
</html>
