<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title><%=title%></title>
        <link rel="stylesheet" href="/css/profile.css">
    </head>
    <body>
        <h1> Hello <%=username%> ! </h1>
        <button class="sign-out">Log-out</button>
        <script src="/js/profile.js"></script>
    </body>
</html>
