body {
    margin: 0;
    padding: 0;
}

main {
    padding-left: 180px;
    padding-top: 55px;
}

.aside {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 48px;
    left: 0;
    background-color: #ece3e3;
    overflow-x: hidden;
}

.aside .aside-button{
    display: block;
    position: relative;
    background-color: #81b383;
    color: white;
    padding: 13px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-decoration: none;
    text-align: start;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.aside .aside-button:hover,
.aside .aside-button+.active {
    background-color: #507d52;
}

.aside .aside-add-new-list{
    position: fixed;
    bottom: 0px;
    left: 0;
    z-index: 2;
    display: block;
    background-color: #81b383;
    color: white;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
    width: 160px;
    opacity: 0.9;
    text-decoration: none;
    text-align: start;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.aside .aside-add-new-list:hover {
    background-color: #507d52;
}

.aside .edit-list{
    display: none;
    position: absolute;
    right: -10px;
    top: 0;
    width: 30px;
    padding: 13px 0 10px 20px;
}

.aside .aside-button:hover .edit-list,
.aside .aside-button+.active .edit-list {
    display: block;
}

.aside .aside-button:hover .edit-list:hover {
    color: #333;
}

.register-form *,
.login *,
.modal  {
    box-sizing: border-box;
    font-size: 15px;
}

.register-form,
.login {
    max-width: 300px;
    margin: 50px auto;
    border: 2px solid #f1f1f1;
    border-radius: 5px;
    box-sizing: content-box;
}

/* Add padding to containers */
.register-form .container,
.login .container {
    padding: 16px;
}

.register-form h1,
.login h1,
.modal-main h1 {
    font-size: 20px;
}

/* Full-width input fields */
.register-form input[type=text],
.register-form input[type=password],
.login input[type=text],
.login input[type=password],
.modal-main input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 13px;

    border: 1px solid #ccc;
}

.register-form label,
.login label {
    position: relative;
}

/* Overwrite default styles of hr */
.register-form hr,
.login hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 10px;
}

/* Set a style for the submit/register button */
.register-form .registerbtn,
.register-form button,
.login button,
.login a.register,
.modal-main button,
button.add-todo{
    display: block;
    background-color: #4CAF50;
    color: white;
    padding: 13px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    text-decoration: none;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}

.register-form .registerbtn:hover,
.login button:hover,
.login a.register:hover,
.modal-main button.submit-add-list:hover,
button.add-todo:hover {
    opacity:1;
}

/* Add a blue text color to links */
.register-form a {
    color: dodgerblue;
}

.register-form .git-hub,
.login .git-hub {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto 5px;

    background-color: black;
    border-radius: 5px;
    cursor: pointer;
}

.register-form .git-hub:hover,
.login .git-hub:hover,
.register-form .google:hover,
.login .google:hover  {
    transform: scale(1.1);
}

.register-form .git-hub::after,
.login .git-hub::after{
    position: absolute;
    top: 5px;
    left: 7px;
    font-family: "FontAwesome", "Arial", sans-serif;
	content: "\f09b";
	font-size: 2rem;
    font-weight: bolder;
    color: white;
}

.register-form .google,
.login .google {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: auto 5px;

    background-color: #f44336;
    border-radius: 5px;
    cursor: pointer;
}

.register-form .google::after,
.login .google::after {
    position: absolute;
    top: 7px;
    left: 10px;
    font-family: "FontAwesome", "Arial", sans-serif;
    content: "\f1a0";
	font-size: 2rem;
    font-weight: bolder;
    color: white;
}

/* Set a grey background color and center the text of the "sign in" section */
.register-form .controls,
.login .controls {
    background-color: #f1f1f1;
    text-align: center;
}

.register-form .errorContainer,
.login .errorContainer {
    position: absolute;
    width: 270px;
    z-index: 10;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    padding-left: 10px;
    background-color: white;
}

.register-form p.error,
.login p.error {
    color: black;
}

.login .controls p {
    margin: 0 auto;
    text-align: center;
}
  
/* Extra style for the cancel button (red) */
.login button.cancelbtn,
.register-form .cancelbtn,
.modal-main button.cancel,
.modal-main button.remove-list,
.modal-main button.remove-todo {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.topnav * {
    margin: 0;
    padding: 0;
}

.topnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #333;
    overflow: hidden;
}

.topnav a,
.topnav button {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    background-color: #333;
    border: none;
}

.topnav p {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
}

.topnav a:hover,
.topnav button:hover {
    background-color: #81b383;
    color: white;
}

.add-todo input {
    width: calc(100% - 45px);
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border-radius: 5px;
    background: #f1f1f1;
    font-size: 13px;

    border: 1px solid #ccc;
}

.todo {
    position: relative;
    width: calc(100% - 75px);
    min-height: 46px;
    margin-bottom: 10px;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ccd1e2;
    border-radius: 5px;
    background-color: #f5f3f3;
    overflow: hidden;
}

.todo input {
    position: absolute;
    right: 14px;
    bottom: 5px;
}

.todo p {
    margin: 0;
    padding: 0;
    color: #285a31;
}

.todo+.complited {
    background-color: #eaeaea;
    border: none;
}

.todo+.complited p {
    color: #777777;
}

.todo+.complited .edit-todo {
    color: #7f8c80;
}

.todo+.complited .edit-todo:hover {
    color: #444444;
}

.edit-todo {
    position: absolute;
    right: 15px;
    color: #81b383;
    cursor: pointer;
}

.edit-todo:hover {
    color: #438246;
}

@media screen and (max-width: 650px) {
    main {
        padding-left: 120px;
    }

    .aside {
        width: 100px;
    }
    
    .aside .aside-add-new-list{
        width: 100px;
    }
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.modal {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.modal+.display-block {
    display: block;
}

.modal+.display-none {
    display: none;
}

.modal-main {
    position:fixed;
    background: white;
    width: 80%;
    max-width: 300px;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border-radius: 5px;
    padding: 15px;
}

.modal-main input {
    width: 93%;
}


main button.add-todo {
    max-width: 100px;
}

.modal-main h1 {
    margin: 0 0 0 10px;
}
